#login
  .row
    .col-md-4.col-md-offset-4
      = form_for :session, url: admin_login_url, class: 'form form-horizontal' do |f|
        .form-input
          = f.text_field :username, class: "form-control", placeholder: 'username'
        .form-input
          = f.text_field :password, class: "form-control", placeholder: 'password'
        = f.submit 'log in', class: 'btn btn-black', id: 'loginButton'
