// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.header.admin {
  #artistList {
    padding-top: 50px;
  }
}

.modal {
  .modal-body {
    padding: 15px 25px;
    
    .form-control {
      margin-bottom: 20px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.edit-artist, .edit-artwork {
  .artwork-info {
    margin-top: 0;
  }
  
  .artwork-photo {
    .picture-container {
      border: 3px solid black;
      padding: 7px;
      
      img {
        width: 100%;  
      }
    }
  }
  
  form {
    .form-control {
      margin-bottom: 20px;
      border: none;
      border-radius: 0;
      border-bottom: 3px black solid;
      box-shadow: none;
      resize: none;
      color: black;
      padding: 25px 10px;
      transition: .2s;
      
      &::placeholder {
        color: #656565;
      }
      
      &:focus {
        border: none;
        border-radius: 0;
        border-bottom: 5px black solid;
        box-shadow: none;
      }
    }
    
    .edit-artist-name {
      font-size: 36px;
    }
    
    .btn {
      margin-top: 20px;
    }  
  }
  
  .artist-artworks {
    margin-top: 50px;
    
    #addArtworkButton {
      margin-top: 20px;
    }
  }
  
  .image {
    margin: 40px 0 20px 0;
  }
}

.artist-info, .artwork-info {
  margin-top: 100px;
  display: block;
  width: 50%;
  
  .controls, .description {
    margin-bottom: 20px;
    
    p {
      margin-left: 10px;
    }
  }
}

.admin-artist-page {
  .artworks-wrapper {
    margin-top: 20px;
  }
}

.empty-container {
  width: 100%;
  text-align: center;
  padding: 100px;
  
  p {
    font-style: italic;
    color: gray;
  }
}
