/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue/HelveticaNeue Light.ttf') format('truetype');
  src: url('HelveticaNeue/HelveticaNeue Bold.ttf') format('truetype');
}

html, body {
  font-family: 'HelveticaNeue';
  min-height: 100%;
}

#mainContainer {
  padding: 0;
}

a {
  color: black;
  
  &:focus, &:hover {
    color: black;
  }
  
  &.danger {
    color: red;
    
    &:focus, &:hover {
      color: red;
    }
  }
}

.empty {
  font-style: italic;
  color: gray;
}

.btn-black {
  background-color: black;
  color: white;
  
  &:hover, &:focus {
    color: white;
  }
}

.form-control:focus {
  border-color: #757575;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #333;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.centered-text {
  text-align: center;
}

.artist-list-preface {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.header {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  
  #artistList {
    display: block;
    text-align: left;
    padding-top: 111px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    left: -4px;
    z-index: 1;
    
    .artist {
      float: none;
      display: inline-block;
      a {
        color: black;
        font-weight: 600;
        text-transform: uppercase;
        padding: 5px 10px;
        border-radius: 0;
        background: none;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .logo-container {
    float: left;
    text-align: left;
    width: 100%;
    position: relative;
    z-index: 2;
    
    .logo {
      height: auto;
      text-decoration: none;
      position: relative;

      img {
        width: 225px;
      }
      
      .catalogue {
        font-weight: 600;
        position: relative;
        top: -24px;
        margin: 0;
      }
    }
  }
}

.artist-page {
  text-align: center;
  
  .info {
    text-align: center;
    padding-left: 20px;
    
    .description {
      width: 50%;
      display: inline-block;
      margin-top: 20px;
    }
  }
}

.with-contact {
  .contact {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: white;
    z-index: 4;
    padding-top: 10px;
  }
}

.artworks-wrapper {
  padding: 50px 20px;
  position: relative;
  
  .artwork-row:last-child .artwork.even:last-child {
    margin-bottom: 45px;
  }
  
  .artwork-row {
    position: absolute;
    width: 100%;
    max-height: 1031px;
    left: 0px;
    
    .artwork-wrapper {
      &.expandable {
        .picture-container {
          height: calc(100% - 120px);
        }
      }
      
      &:not(.expandable) {
        .picture-container {
          height: calc(100% - 10px);
        }
      }
    }
    
    .artwork-wrapper:hover {
      cursor: pointer;
      
      &:not(.expandable) {
        .picture-container {
          filter: blur(3px);
          -webkit-filter: blur(3px);
        }
      }
      
      &.expanded {
        cursor: default;
      }
      
      .overlay {
        opacity: 0.3;
      }
      
      .picture-info {
        visibility: visible;
      }
    }
    
    .artwork {
      transition: .3s;
      opacity: 1;
      padding: 10px;
      position: absolute;
      width: 33.33%;
      
      &.inivisible {
        opacity: 0;
      }
      
      &.expanded {
        left: 0px;
        width: 100%;
        position: fixed;
        z-index: 5;
        
        .collapse {
          display: block;
          position: absolute;
          right:22px;
          top: 15px;
          z-index: 10;
        }
        
        .overlay {
          display: none;
          z-index: 7;
        }
        
        .background {
          background: #e6e6e6;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: 5;
        }
        
        .picture-container {
          display: none;
        }
        
        .picture-info {
          display: none;
        }
        
        .full-picture-info {
          display: none;
        }
        
        .expanded-picture-container-wrapper {
          display: block;
          background-size: contain;
          z-index: 6;
          .expanded-picture-container {
            display: block;  
            z-index: 7;
          }
        }
        
        .expanded-picture-info {
          
        }
      }
      
      &.even {
        height: 600px;
      }
      
      &.odd {
        height: 431px;
      }
      
      .collapse {
        display: none;
      }
      
      .overlay {
        transition: .3s;
        position: absolute;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        background-color: #d6d6d6;
        opacity: 0;
        z-index: 3;
      }
      
      .background {
        transition: .3s;
        position: absolute;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        background-color: rgba(239, 239, 239, 0.3);
        z-index: 1;
      }
      
      .picture-container {
        transition: .3s;
        position: absolute;
        width: calc(100% - 10px);
        // height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        z-index: 2;
      }
      
      .expanded-picture-container-wrapper {
        display: none;
        transition: .3s;
        position: absolute;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
        .expanded-picture-container {
          width: 100%;
          height: 100%;
          
          img {
            height: 100%;
            border: 20px solid white;
            border-bottom: 110px solid white;
          }
          
          .expanded-picture-info {
            position: absolute;
            display: block;
            z-index: 100;
            height: 100px;
            bottom: 5px;
            transform: translateX(-50%);
            left: 50%;
            // backdrop-filter: blur(3px);
            // background-color: rgba(0,0,0,0.4);
            padding: 10px;
            color: black;
          }
        }
      }
      
      .full-picture-info {
        z-index: 4;
        position: absolute;
        bottom: 0px;
        left: 5px;
        width: calc(100% - 10px);
        color: black;
        text-align: center;
        padding-left: 10px;
        // backdrop-filter: blur(3px);
        
        // .desc-background {
        // 
        //   position: absolute;
        //   
        //   width: 100%;
        //   height: 100%;
        // }
        
        .name {
          margin-top: 15px;
        }
        
        .price {
          margin-bottom: 20px;
        }
      }
      
      .picture-info {
        transition: .2s;
        visibility: hidden;
        position: absolute;
        bottom: 20px;
        color: black;
        width: 100%;
        text-align: center;
        z-index: 4;
        
        .name {
          font-weight: 600;
          font-size: 17px;
        }
        
        .artist {
          font-style: italic;
        }
      }
    }
  }
}
