/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: black;
  
  &:focus, &:hover {
    color: black;
  }
  
  &.danger {
    color: red;
    
    &:focus, &:hover {
      color: red;
    }
  }
}

.empty {
  font-style: italic;
  color: gray;
}

.btn-black {
  background-color: black;
  color: white;
  
  &:hover, &:focus {
    color: white;
  }
}

.form-control:focus {
  border-color: #757575;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #333;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #333;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.header {
  display: block;
  text-align: center;
  
  #artistList {
    text-align: center;
    .artist {
      float: none;
      display: inline-block;
      a {
        color: black;
        font-weight: 600;
        text-transform: uppercase;
        padding: 5px 10px;
        border-radius: 0;
      }
    }
  }
  
  .logo-container {
    width: 100%;
    text-align: center;
    
    .logo {
      height: auto;
      text-decoration: none;
      img {
        width: 125px;
      }
      
      .catalogue {
        font-weight: 600;
        position: relative;
        top: -24px;
        margin: 0;
      }
    }
  }
}

.artist-page {
  text-align: center;
  
  .info {
    margin-bottom: 30px;
    
    .description {
      width: 50%;
      display: inline-block;
      margin-top: 20px;
    }
  }
}

.artworks-wrapper {
  padding: 50px 20px;
  position: relative;
  
  .artwork-row {
    position: absolute;
    width: 100%;
    height: 1031px;
    left: 0px;
    
    .artwork-wrapper:hover {
      cursor: pointer;
      
      &.expanded {
        cursor: default;
      }
      
      .overlay {
        opacity: 0.3;
      }
      
      .picture-container {
        filter: blur(3px);
        -webkit-filter: blur(3px);
      }
      
      .picture-info {
        visibility: visible;
      }
    }
    
    .artwork {
      transition: .3s;
      opacity: 1;
      padding: 10px;
      position: absolute;
      width: 33.33%;
      
      &.inivisible {
        opacity: 0;
      }
      
      &.expanded {
        left: 0px !important;
        width: 100%;
        
        .collapse {
          display: block;
          position: absolute;
          left: 5px;
          top: 5px;
          z-index: 10;
        }
        
        .overlay {
          display: none;
          z-index: 7;
        }
        
        .background {
          background: #e6e6e6;
          z-index: 5;
        }
        
        .picture-container {
          display: none;
        }
        
        .picture-info {
          display: none;
        }
        
        .expanded-picture-container {
          display: block;
          background-size: 60%;
          z-index: 6;
        }
        
        .expanded-picture-info {
          
        }
      }
      
      &.even {
        height: 600px;
      }
      
      &.odd {
        height: 431px;
      }
      
      .collapse {
        display: none;
      }
      
      .overlay {
        transition: .3s;
        position: absolute;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        background-color: rgb(0,0,0);
        opacity: 0;
        z-index: 3;
      }
      
      .background {
        transition: .3s;
        position: absolute;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        background-color: rgba(172,172,172,0.3);
        z-index: 1;
      }
      
      .picture-container {
        transition: .3s;
        position: absolute;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        z-index: 2;
      }
      
      .expanded-picture-container {
        display: none;
        transition: .3s;
        position: absolute;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        left: 5px;
        top: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%;
        z-index: 2;
      }
      
      .picture-info {
        transition: .2s;
        visibility: hidden;
        position: absolute;
        bottom: 30px;
        color: white;
        left: 30px;
        z-index: 4;
        
        .name {
          font-weight: 600;
          font-size: 17px;
        }
        
        .artist {
          font-style: italic;
        }
      }
    }
  }
}
