- if @show_breadcrumbs
  .breadcrumbs
    - @breadcrumbs.each.with_index do |breadcrumb, i|
      - last_link = (i == breadcrumb.length - 1)
      - @current_link
      - if @current_link
        %a.breadcrumb.current= breadcrumb[:text]
      - else
        = link_to breadcrumb[:text], breadcrumb[:path], class: 'breadcrumb'
      - if !last_link
        >
      
