.header
  .logo-container
    = link_to root_path, class: "logo" do
      = image_tag 'logo_cropped.png'
  %ul.nav.nav-pills#artistList
    - @artists.each do |artist|
      %li.artist
        =link_to artist.name, artist
